---
import Layout from "@layouts/Layout.astro";
import BlogCard from "@components/BlogCard.astro";
import { Icon } from "astro-icon";

interface Frontmatter {
  title: string;
  pubDate: string;
  description: string;
}

let blogs = await Astro.glob<Frontmatter>("./blog/*.mdx");
blogs = blogs.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());

const metadata = {
  title: "Blog - Lance Ross",
  description: "This is my blog section, this is where I write about my experiences and share my thoughts.",
};
---

<Layout {...metadata}>
  <section class="pb-14">
    <h3 class="mb-6 dark:text-white text-3xl md:text-4xl tracking-tight font-bold">
      Welcome to my Blog!
    </h3>
    <p class="dark:text-zinc-300 mb-6">This is the microsite version of Lance Ross' blog page. I decided to create a separate site for my blog because I want to try create more blog posts. This site is made with <a href="https://astro.build" target="_blank" rel="noopener noreferrer" class="dark:text-blue-400 text-blue-600 transition-colors hover:underline underline-offset-2">Astro</a> and hosted in <a href="" target="_blank" rel="noopener noreferrer" class="">Vercel</a></p>
  </section>
  <section>
    <h3 class="mb-6 dark:text-white text-3xl md:text-4xl tracking-tight font-bold">
      Recent Posts
    </h3>
    <p class="dark:text-zinc-300 mb-6">This is where I write about my experiences as a web developer, and share my thoughts in web development field.</p>
  </section>
  <section class="flex justify-center flex-col items-center">
    <ul>
      { blogs.length > 1 && blogs.slice(0, 2).map((post) => <BlogCard title={post.frontmatter.title} description={post.frontmatter.description} pubDate={post.frontmatter.pubDate} url={post.url} />)}
    </ul>
    <a href="/blog" class="dark:bg-zinc-800 bg-zinc-200 transition-all rounded-xl p-3 text-black dark:text-white m-2 ring-2 ring-opacity-0 ring-zinc-700 hover:ring-opacity-100">Show all posts</a>

  </section>
</Layout>
